.app {
  padding: 16px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 16px;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
  font-weight: 600;
}

th {
  background-color: #ecf8f7;
  min-width: 100px;
}

thead button {
  border: none;
  background-color: unset;
  color: inherit;
  cursor: pointer;
  font-weight: inherit;
}

thead button:hover {
  text-decoration: underline;
}

thead button.active {
  text-decoration: underline;
  font-weight: bold;
}

.editor {
  border: 1px solid #eee;
}

.output {
  margin-top: 16px;
  border: 1px solid #eee;
  font-family: monospace;
  background-color: #eee;
  padding: 8px;
  overflow: auto;
}
